<?xml version="1.0"?>
<!--
/**
 * @author Elsner Team
 * @copyright Copyright © Elsner Technologies Pvt. Ltd (https://www.elsner.com/)
 * @package Elsnertech_Paytrace
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paytrace" translate="label comment" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paytrace Payment</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <requires>
                            <group id="paytrace"/>
                     </requires>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="apiurl" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Api URL</label>
                    <comment>https://api.paytrace.com/</comment>
                </field>
                <field id="integrator_id" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Integrator Id</label>
                </field>
                <field id="username" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>Magento\Payment\Model\Source\Cctype</source_model>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Elsnertech\Paytrace\Model\Source\PaymentAction</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="73" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="74" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                    <comment>Leave empty to disable limit</comment>
                </field>
                <field id="transaction" translate="label" type="select" sortOrder="78" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Send transaction receipt</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="paytrace_checkout_captcha" translate="label" type="select" sortOrder="77" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Captcha Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="paytrace_cc_vault_active" translate="label" type="select" sortOrder="78" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Vault Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="paytracevault" translate="label" type="text" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paytrace Customer Vault</label>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Need to disable guest checkout</comment>
                     <requires>
                            <group id="paytrace"/>
                     </requires>
                    
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Title</label>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Elsnertech\Paytrace\Model\Source\PaymentAction</source_model>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                </field>
                <field id="paytrace_checkout_captcha" translate="label" type="select" sortOrder="77" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Captcha Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <depends>
                        <field id="*/paytrace/paytrace_cc_vault_active" >1</field>
                </depends>
            </group>
        </section>
    </system>
</config>
