<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sgproduct_data_source" xsi:type="string">Syncitgroup\Sgform\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Syncitgroup\Sgform\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">syncitgroup_sgform_product</argument>
            <argument name="resourceModel" xsi:type="string">Syncitgroup\Sgform\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>

</config>
