<?xml version="1.0"?>
<!--
/**
 * @author Elsner Team
 * @copyright Copyright © Elsner Technologies Pvt. Ltd (https://www.elsner.com/)
 * @package Elsnertech_Paytrace
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_paytracevault">
        <observer name="paytracevault_payment_data_assign"
                  instance="Elsnertech\Paytrace\Observer\PaymentAdditionalDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_paytrace">
        <observer name="paytrace_payment_data_assign"
                  instance="Elsnertech\Paytrace\Observer\PaytraceAdditionalDataAssignObserver" />
    </event>
</config>
